[Unit]
Description=For keeping track of already posted posts from the crossposter.

After=network.target

[Service]
User=www-data

Group=www-data

WorkingDirectory=<dir here>

ExecStart=<uwsgi path> --ini <ini path>

[Install]
WantedBy=multi-user.target
